@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald&family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
@keyframes movement{
    0%{
        translate: 0px;
    }
    50%{
        translate: 5px ;
    }
    100%{
        translate: 0px;
    }
}
#header__logo img{
    animation-name: movement;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-duration: 1s;
}
#banner{
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    min-height: 60vh;
} 
@media all and (max-width:768px){
    .bg-md-transparent{
        background-color: #0000 !important;
    }
}
.zoom{
    transition: 250ms;
}
.zoom:hover{
    transform: scale(1.1);
}
<<<<<<< HEAD
=======
.offerts__list{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    margin: 2rem;
}
.offerts__list img{
    border-radius: 5px;
    width: 15%;
    border: 1px solid rgb(60, 62, 182);
}
.offerts__list p{
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    border: 1px solid rgb(60, 62, 182);
    border-radius: 5px;
    text-align: center;   
    background-color: #000;
}
@media all and (max-width:992px){
    .offerts__list p{
        font-size: 0.8rem;
    }
}
@media all and (max-width:769px){
    .offerts__list p{
        font-size: 0.6rem;
    }
}
>>>>>>> v2
#banner__countries{
    background-image: url(../assets/banner_countries.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    min-height: 60vh;
}
.h-iframe{
    height:18rem ;
}
.body__planYourTrip{
    background-image: url(../assets/train10.jpg);
    background-size: cover;
}
.container__hero{
    display: grid;
    grid-template: 1fr 300px/ 1fr 2fr 1fr;
    grid-template-areas: 
    ". container__trip .";
}
@media all and (max-width:769px){
    .container__hero{
        grid-template: 1fr 200px/ 1fr 2fr 1fr;
        grid-template-areas: 
        ". container__trip .";
    }
}
.container__trip{
    grid-area: container__trip;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    border-radius: 3%;
    margin-top: 5rem;
    margin: 1rem;
}
@media all and (max-width:769px){
    .container__trip{
        width: 300px;
        margin: 0;
    }
}
.container__tittle{
    font-family:'Oswald', sans-serif;
    font-size: 3rem;
}
@media all and (max-width:769px){
    .container__tittle{
        font-size: 2rem;
    }
}
.container__input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__input input{
    color: #fff;
    background-color: rgb(59, 59, 59);
    border: none;
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}
@media all and (max-width:769px){
    .container__input input{
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }
}
.container__map, iframe{
    border-radius: 5px;
    margin: 1rem;
}
@media all and (max-width:769px){
    .container__map iframe{
        width: 80%;
        height:80%;
    }
}
.body__offerts{
    background-image: url(../assets/train8.jpg);
    background-size: cover;
}
.offertsMain{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "offertsMain__header"
    "offertsMain__list"
    "offertsMain__list2"
    "offertsMain__list3"
    "offertsMain__list4"
    ;
}
.offertsMain__header{
    grid-area: offertsMain__header;
    display: flex;
    justify-content: center;
    background-color:#000;
    height: 40px;
    font-size: 40px;
    color: rgb(114, 116, 207);
    margin-top: 4rem;
}
.offertsMain__list{
    grid-area: offertsMain__list;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    margin: 2rem;
}
.offertsMain__list2{
    grid-area: offertsMain__list2;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    margin: 2rem;
}
.offertsMain__list3{
    grid-area: offertsMain__list3;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    margin: 2rem;
}
.offertsMain__list4{
    grid-area: offertsMain__list4;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    margin: 2rem;
}
.offertsMain img{
    border-radius: 5px;
    width: 15%;
    border: 1px solid rgb(60, 62, 182);
}
@media all and (max-width:992px){
    .offertsMain img{
        width: 50%;
    }
}
@media all and (max-width:769px){
    .offertsMain img{
        width: 40%;
    }
}
.offertsMain p{
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    border: 1px solid rgb(60, 62, 182);
    border-radius: 5px;
    text-align: center;   
    background-color: #000;
}
@media all and (max-width:769px){
    .offertsMain p{
        font-size: 0.6rem;
        padding: 0.5rem;
    }
}
.offertsMain input{
    padding: 0 1rem;
    background-color: rgb(114, 116, 207);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.body__contactUs{
    background-image: url(../assets/pexels-trace-hudson-2365701.jpg);
    background-size: 300px;
    background-repeat: repeat;
}
.container__contactUs{
    display: grid;
    grid-template: 200px 200px 1fr/ 1fr 1fr 1fr;
    grid-template-areas:
    ". . ."
    ". container__contactInformation ."
    ". container__form ."
    ;
}
.container__contactInformation{
    grid-area: container__contactInformation;
    text-align: center;
    color:#fff ;
    border-radius: 4%;
    background-color: #000;
    margin: 1rem;
}
@media all and (max-width:769px){
    .container__contactInformation{
        width: 300px;
        margin: 0.5rem;
    }
}
.container__header{
    font-size: 2rem;
    line-height: 3rem;
}
.container__header, .container__networks a{
    text-decoration: none;
    color: rgb(114, 116, 207);
    line-height: 4rem;
}
@media all and (max-width:769px){
    .container__header, .container__networks a{
        line-height: 3rem;
    }
    .container__header{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}
.container__form, form{
    grid-area: container__form;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    margin: 0 1rem 2rem 1rem;
}
@media all and (max-width:769px){
    .container__form, .container__form textarea{
        width: 300px;
        font-size: 0.8rem;
        margin: 0.5rem;
    }
}
.container__form input{
    margin: 0.5rem;
    background-color: rgb(114, 116, 207);
    border-style: none;
    border-radius: 3px;
    color: #000;
}
.container__button input{
    background-color: rgb(114, 116, 207);
    cursor: pointer;
    padding: 0.3rem 1rem;
    color: #fff;
}