#banner__contactUs{
    background-image: map-get($banners-img , banner__contac_us);
    @include banners-position (bottom)
}

#contact__networks{
    a{
        transition: 300ms;
        color: black;
        &:hover{
            color: $main-color;
            border-bottom: 1px solid;
            padding-bottom: .5rem;
        }
    }
    
}





