*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: $main_color;
}
@keyframes movement{
    0%{
        transform:translate(0px);
    }
    50%{
        transform:translate(5px);
    }
    100%{
        transform:translate(0px);
    }
}
#header__logo img{
    animation-name: movement;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-duration: 1s;
}
.w-10{
    width: 10%;
}
#banner{
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    min-height: 60vh;
} 
@media all and (max-width:768px){
    .bg-md-transparent{
        background-color: #0000 !important;
    }
}
.zoom{
    transition: 250ms;
    &:hover{
        transform: scale(1.1);
    }
}