#banner__offerts{
    background-image: map-get($banners-img , banner_offerts );
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    min-height: 40vh;
    @media all and (max-width:768px){
        background-position: 80% center;
    }
}
