#banner__offerts{
    background-image: url(../assets/banner_offerts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    min-height: 60vh;
    @media all and (max-width:768px){
        background-position: 80% center;
    }
}
