#banner__plan_your_trip{
    background-image: url(../assets/banner_plan_your_trip.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    min-height: 40vh;
    @media all and (max-width:768px){
        background-position: 80% center;
    }
}
.bg-gray{
    background-color: rgb(219, 219, 219);
}
.border-plan{
    border: 1px solid #000;
    @media all and (max-width:768px){
        border: 0;
    }
}
#map, iframe{
    border-radius: 5px;
    @media all and (max-width:768px){
        width: 100%;
    }
}
