$main_color:#90b1f7;
$btn_color:#779ff6;
$banners-img:(
    banner: url(../assets/banner.jpg),
    banner_countries:url(../assets/banner_countries.jpg),
    banner_offerts:url(../assets/banner_offerts.jpg),
    banner_plan_your_trip:url(../assets/banner_plan_your_trip.jpg),
    banner__contac_us:url(../assets/banner_contact_us.jpg),
);