@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oswald&family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

@-webkit-keyframes movement {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(5px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes movement {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(5px);
  }
  100% {
    transform: translate(0px);
  }
}
#header__logo img {
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#banner {
  background-image: url(../assets/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  min-height: 60vh;
}

@media all and (max-width: 768px) {
  .bg-md-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
.zoom {
  transition: 250ms;
}
.zoom:hover {
  transform: scale(1.1);
}

#banner__countries {
  background-image: url(../assets/banner_countries.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  min-height: 60vh;
}

.h-iframe {
  height: 18rem;
}

#banner__offerts {
  background-image: url(../assets/train11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  min-height: 60vh;
}
@media all and (max-width: 768px) {
  #banner__offerts {
    background-position: 80% center;
  }
}

#banner__plan_your_trip {
  background-image: url(../assets/banner_plan_your_trip.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  min-height: 40vh;
}
@media all and (max-width: 768px) {
  #banner__plan_your_trip {
    background-position: 80% center;
  }
}

.bg-gray {
  background-color: rgb(219, 219, 219);
}

.border-plan {
  border: 1px solid #000;
}
@media all and (max-width: 768px) {
  .border-plan {
    border: 0;
  }
}

#map, iframe {
  border-radius: 5px;
}
@media all and (max-width: 768px) {
  #map, iframe {
    width: 100%;
  }
}

.body__contactUs {
  background-image: url(../assets/pexels-trace-hudson-2365701.jpg);
  background-size: 300px;
  background-repeat: repeat;
}

.container__contactUs {
  display: grid;
  grid-template: 200px 200px 1fr/1fr 1fr 1fr;
  grid-template-areas: ". . ." ". container__contactInformation ." ". container__form .";
}

.container__contactInformation {
  grid-area: container__contactInformation;
  text-align: center;
  color: #fff;
  border-radius: 4%;
  background-color: #000;
  margin: 1rem;
}
@media all and (max-width: 768px) {
  .container__contactInformation {
    width: 300px;
    margin: 0.5rem;
  }
}

.container__contactHeader {
  font-size: 2rem;
  color: rgb(114, 116, 207);
  line-height: 4rem;
}
@media all and (max-width: 768px) {
  .container__contactHeader {
    line-height: 3rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

.container__form {
  grid-area: container__form;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  margin: 0 1rem 2rem 1rem;
}
@media all and (max-width: 768px) {
  .container__form {
    width: 300px;
    font-size: 0.8rem;
    margin: 0.5rem;
  }
}
.container__form input {
  margin: 0.5rem;
  background-color: rgb(114, 116, 207);
  border-style: none;
  border-radius: 3px;
  color: #000;
}
@media all and (max-width: 768px) {
  .container__form #container__textarea {
    width: 300px;
    margin: 0.5rem;
  }
}

.container__button input {
  background-color: rgb(114, 116, 207);
  cursor: pointer;
  padding: 0.3rem 1rem;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */